{% extends "::base.html.twig" %}
{% block body %}
    <div id="AppView_Single">
        <div class="entry_body">
            <div class="app-name"><a href="{{ path("app_view", {"shortname" : entry.shortname}) }}">{{ entry.name }}</a></div>
            {% if entry.screenshotPath %}
                <div class="app-screenshot"><img src="{{ entry.getScreenshotWebPath() }}"/></div>
            {% endif %}
            <div class="app-description">{{ entry.description|raw }}</div>
            {% if entry.links and entry.links.count > 0 %}
                <div class="app-links">
                    <div class="app-label">Links</div>
                    <ul>
                        {% for link in entry.links %}
                            <li><a href="{{ link.url }}">{{ link.description }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if entry.extra %}
                {{ entry.extra|raw }}
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}