{% extends "::base.html.twig" %}
{% block body %}
    <h1>{{ app_filter }}</h1>
    <div id="AppList">
        {% for entry in entries %}
            <div class="entry_body">
                {% if entry.screenshotPath %}
                    <div class="app-screenshot"><img src="{{ entry.getScreenshotWebPath() }}"/></div>
                {% endif %}
                <div class="app-name">{{ entry.name }}</div>
                <div class="app-short-description">{{ entry.blurb }}</div>
                {% if entry.links and entry.links.count > 0 %}
                    <div class="app-links">
                        <div class="app-label">Links</div>
                        <ul>
                            {% for link in entry.links %}
                                <li><a href="{{ link.url }}">{{ link.description }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if entry.extra %}
                    {{ entry.extra }}
                {% endif %}
                <div class="clearfix"></div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}