{% extends '::base.html.twig' %}

{% block body -%}
    <h1>App Entry: {{ entity.name }} </h1>

    <div id="AppEntry_View">
        <div class="entry_row">
            <div class="entry_label">Id</div>
            <div class="entry_value">{{ entity.id }}</div>
        </div>
        <div class="entry_row">
            <div class="entry_label">Type</div>
            <div class="entry_value">{{ entity.entrytype.name }}</div>
        </div>
        <div class="entry_row">
            <div class="entry_label">Name</div>
            <div class="entry_value">{{ entity.name }}</div>
        </div>
        <div class="entry_row">
            <div class="entry_label">Short Name</div>
            <div class="entry_value">{{ entity.shortName }}</div>
        </div>
        <div class="entry_row">
            <div class="entry_label">Description</div>
            <div class="entry_value">{{ entity.description }}</div>
        </div>
        {% if entity.extra %}
            <div class="entry_row">
                <div class="entry_label">Extra</div>
                <div class="entry_value">{{ entity.extra }}</div>
            </div>
        {% endif %}
        <div class="entry_row">
            <div class="entry_label">Release Date</div>
            {% if entity.releasedate %}
                <div class="entry_value">{{ entity.releaseDate | date('Y-m-d H:i:s') }}</div>
            {% else %}
                <div class="entry_value">TBA</div>
            {% endif %}
        </div>
        <div class="view_actions">
            <div><a href="{{ path('admin_apps') }}">Back to the list</a></div>
            <div><a href="{{ path('admin_apps_edit', { 'id': entity.id }) }}">Edit</a></div>
            <div>{{ form(delete_form) }}</div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}
